.Bselection {
    background-color:deepskyblue
}
.Aselection {
    background-color: darkred
}
table {
    text-align: center;
    margin-left: auto;
    margin-right:auto;
    border:thick;
    width:20em;
    height:10em;
    font-size: 1em;
    padding:1em 0em;
}
p{
    margin:1em 0em;
}
